:root{
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85); 
    --menu-speed: 0.75s; 
  }

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}

html, body{
    font-family: 'roboto', sans-serif; 
    line-height: 1.7em; 
    font-size: 16px;
}

#navbar{ 
    background: #242424; 
    overflow: auto; 
    color:white;
    position:relative;
} 

#navbar span{
    margin-left: 10px;
}

#navbar .fab{ 
    font-size: 20px; 
    padding:14px;
    margin-top: 7px;
}

#navbar > span{
    margin-left: 80px;
}

#navbar li.current{
    background-color: gray;
}

#navbar a{
    color: #fff; 
    text-decoration: none;   
} 

#navbar li:hover, 
#navbar li:active{
    background: #adadad;   
}

#navbar h1{
    float:right; 
    padding:17px;
    font-family: Helvetica;
    font-size: 35px;
    overflow:hidden;
}

#navbar ul{
    float:right; 
} 

#navbar li{
    display:block;
    padding:10px;
}

#showcase{
    background: url('../img/test-bg.jpg') no-repeat center center/cover;
    height:400px;
}

.container{
    text-align: center;
    width:80%;
    max-height:1200px;
    height:1200px;   
    margin:auto;
    position:relative;
}

.container-content{
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding:20px;
}

.panels {
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.panel {
    padding:20px;
}

.panel-img{
    font-size: 90px;
    padding:10px;
    color: #faaa68;
}

.container h1{
    color:white;
    padding:10px;
    font-family: helvetica;
} 

.first-word{
    color:#faaa68;   
}

.container p{
    color:white;
    padding:10px 0px 35px 0px;
}

.back{
    background-color: #242424;
}

#main-footer{
    width:100%; 
    background: #242424; 
    color:white; 
    text-align: center;
    padding:15px;
}


.menu-wrap{
    position: absolute; 
    top:0; 
    left:0;
    z-index: 1; 
  }
  
  .menu-wrap .toggler{
    position:absolute; 
    top:0;
    left:0;
    z-index: 2; 
    curser: pointer;
    width:50px; 
    height:50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger{
    position: absolute; 
    top:0;
    left:0; 
    z-index:1;
    width: 61px; 
    height: 61px; 
    padding:1rem;
    background: #faaa68;
    display: flex; 
    align-items: center; 
    justify-content: center;
  } 
  
  /* hamburger lines */ 
  
  .menu-wrap .hamburger > div{
    position:relative; 
    width:100%; 
    height:2px; 
    background:white; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* styling for top and bottom lines */
  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after{
    content:"";
    position:absolute; 
    z-index:1; 
    top: -10px; 
    width:100%; 
    height:2px; 
    background: inherit;
  }
  
  /* moves line down */
  .menu-wrap .hamburger > div:after{
    top: 10px;
  }
  
  /* Toggler animate */ 
  .menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
  }
  
  /* turn lines into x */
  .menu-wrap .toggler:checked + .hamburger > div:before, 
  .menu-wrap .toggler:checked + .hamburger > div:after{
    top:0;
    transform: rotate(90deg);
  }
  
  /* rotate on hover when checked */ 
  .menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
  } 
  
  /* Show menu */
  .menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1; 
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu{
    position:fixed; 
    top:0;
    left:0;
    width:100%; 
    height:100%; 
    visibility: hidden; 
    overflow: hidden; 
    display:flex; 
    align-items:center; 
    justify-content:center; 
  }
  
  .menu-wrap .menu > div{
    background: var(--overlay-color); 
    border-radius: 50%;
    width:200vw;
    height:200vw;
    display:flex; 
    flex:none;
    align-items: center; 
    justify-content:center; 
    transform: scale(0);
    transition: all 0.4s ease; 
  } 
  
  .menu-wrap .menu > div > div{
    text-align: center; 
    max-width:90vw; 
    max-height:100vh; 
    opacity: 0; 
    transition: opacity 0.4s ease; 
  } 
  
  .menu-wrap .menu > div > div > ul > li{
    list-style: none; 
    color: white; 
    font-size:1.5rem; 
    padding:1rem; 
  }
  
  .menu-wrap .menu > div > div > ul > li > a{
    color:inherit; 
    text-decoration: none; 
    transition: color 0.4s ease;
  }

  .chatbox {
    position: relative;
  }
  
  .chatbox h2{
      position: absolute;
      left:50%;
      top:25%;
      transform: translateX(-50%);
  
    }
  
    .open-button{
      position:fixed;
      background-color:#faaa68;
      bottom:0;
      right:0;
      border: none;
      color:white;
      padding: 15px;
      font-size: 23px;
    }
  
    .chat-popup{
      display:none;
      position:fixed;
      bottom:0px;
      right:0;
      border: 3px solid #b9b9b9;
    }
    
    .form-container{
      max-width: 300px;
      padding: 10px; 
      background-color:white;
    }
  
    .form-container textarea{
      width:100%;
      padding:15px;
      margin: 5px 0 22px 0;
      border:none;
      background: #f1f1f1;
      min-height:200px;
    }
  
    .form-container .enter-btn{
      background-color: #faaa68;
      color:white;
      padding:16px 22px;
      border:none; 
      cursor:pointer;
      width: 100%; 
      margin-bottom:10px;
      font-size: 20px;
    }
  
    .form-container .cancel-btn{
      background-color: #242424;
      color:white;
      padding:16px 22px;
      border:none; 
      cursor:pointer;
      width: 100%; 
      margin-bottom:10px;
      font-size: 20px;
    } 

    .contact{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:20px;
    }


    .contact-form input{
        display:block;
        width:600px;
        padding:10px;
        margin:20px 0;
       
    }

    .contact-form textarea{
        display:block;
        width:600px;
        height: 50px;
        padding:10px;
        resize: none;
        margin: 20px 0;
    } 

    .contact-form-btn{
        padding:10px 20px;
        background: white;
        border:none;
        font-size: 20px
    }

    .contact-form-btn:hover{
        background-color:#faaa68;
        color:white;
        cursor:pointer;
    }

    .info {
      padding:0;
      margin:0;
      color:white;
    }

    .bottom{
      margin-bottom:20px;
    }